:root {
    --sidebar-color: rgba(230, 114, 99, 1);
    --menu-font-color: rgba(97, 29, 20, 1);
    --bar-color: rgba(224, 68, 47, 1);
    --text-color: rgba(0, 0, 0, 0.76);
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Antonio', sans-serif;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playpen Sans', cursive; */
    font-size: 1em;
    font-weight: bold;
    color: var(--text-color);
}

h1,
h2 {
    font-family: 'Antonio', sans-serif;
    /* font-family: 'Playpen Sans', cursive; */
    color: var(--menu-font-color);
    font-size: 2.7em;
}

h3,
h4 {
    /* font-family: 'Antonio', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playpen Sans', cursive; */
    font-weight: bolder;
    color: rgba(0, 0, 0, 1);
}

hr {
    border: 0.52px solid var(--menu-font-color);
}

footer {
    font-weight: bold;
}

section,
main,
blockquote {
    font-size: 1.6em;
    padding-left: 2%;
    padding-right: 4%;
    max-width: fit-content;
    max-height: max-content;
}

section{
    padding-bottom: 36.5%;
}

main {
    padding-left: 0;
}

article, #goal{
    padding-bottom: 4%;
}

/* Bloco main h2 gera linhas horizontais em main */
/* main h2 {
    display: inline;
}

main h2::after {
    content: "";
    display: inline-block;
    width: 10%;
    height: 7px;
    background-color: var(--bar-color);
    margin-right: 10px;
    padding-left: 32%;
    margin-top: 4%;
    vertical-align: middle;
    float: right;
} */

dd {
    margin: 0;
}


/* Container para o conteúdo no geral */
.landscape {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*Dvisão do display em duas colunas grid*/
    gap: 20px;
    /*Aplicado espaçamento entre colunas*/
    height: 100vh;
    /* Ajuste de autura de forma a opucar 100% do viewport */
}

/*Conteúdo à direita*/
.main-content {
    padding: 20px;
    padding-top: 1.3%;
    /* Adicione espaço de preenchimento ao conteúdo principal, se necessário */
}

/* Barra lateral esquerda*/
.side-bar {
    background-color: var(--sidebar-color);
    padding: 20px;
    margin-left: 0;
    font-weight: bold;
    color: var(--text-color);
    grid-template-rows: auto 1fr auto;
}

/*O bloco circle ajusta uma forma e uma imagem ao formato de círculo*/
.circle {
    width: 270px;
    height: 270px;
    background-color: var(--menu-font-color);
    border-radius: 50%;
    overflow: hidden;
    /* Propriedade para que a imagem não ultrapasse os limites do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 13em; */
}

.circle img {
    max-width: 90%;
    max-height: 90%;
    width: 17rem;
    border-radius: 100%;
}

#circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 14%;
}

/* Área de atuação profissional */
#field {
    font-size: 2.4em;
    text-transform: uppercase;
    padding-bottom: 5%;
}

/* Remoção do gap entre os <h1> empilhados */
#nome {
    /* font-size: 6em;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left; */
    margin: 0;
}

/* Container para o nome */
#full-name {
    font-size: 4em;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
    height: max-content;
    /* margin: 0; */
}

/* Remoção dos bullets de <ul>  */
#contact-info {
    /* list-style: none; */
    list-style: upper-roman;
}

/* icones */
.fa.fa-phone,
.fa-mail-bulk,
.fa-globe {
    font-size: 1em;
    padding-right: 4%;
    padding-bottom: 6%;
}

/* datas */
.job-title {
    float: left;
}

.job-period {
    float: right;
}